<div class="lift-details">
    <header>
        <h1>{{ liftName }}</h1>
        <div class="date-picker">
            <label for="fromDateTime">From:</label>
            <kendo-datetimepicker [(ngModel)]="fromDateTime" [format]="'MM/dd/yyyy HH:mm'" [min]="minDateTime"
                [max]="maxDateTime" id="fromDateTime" (ngModelChange)="onDateChange()">
            </kendo-datetimepicker>

            <label for="toDateTime">To:</label>
            <kendo-datetimepicker [(ngModel)]="toDateTime" [format]="'MM/dd/yyyy HH:mm'" [min]="fromDateTime"
                [max]="maxDateTime" id="toDateTime" (ngModelChange)="onDateChange()">
            </kendo-datetimepicker>
        </div>
    </header>
    <div class="middle">
        <div class="trip-details">
            <h2>Trips History ({{formattedFromDateTime}} - {{formattedToDateTime}}) </h2>
            <kendo-grid #grid [kendoGridBinding]="trips" [pageSize]="20" [selectable]="{ mode: 'single' }"
                [pageable]="true" [sortable]="true" [scrollable]="true" (selectionChange)="onSelectionChange($event)"
                [height]="450">
                <kendo-grid-column field="data.trip_no" title="Trip Number"></kendo-grid-column>
                <kendo-grid-column field="data.start_time" title="Trip Date" [format]="'dd/MM/yyyy hh:mm a'">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.data.start_time | date: 'dd/MM/yyyy hh:mm a' }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="Failure Probability">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <ng-container *ngIf="dataItem.prediction?.length > 0">
                            <kendo-circulargauge [value]="(70) " [scale]="{ min: 0, max: 100 }"
                                style="width: 80px; height: 80px; max-height: 80px; max-width: 80px; padding-left: 2rem;">
                            </kendo-circulargauge>
                        </ng-container>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="Fault Type">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ getFaultType(dataItem.prediction) }}
                    </ng-template>
                </kendo-grid-column>

            </kendo-grid>
        </div>
        <div class="charts-container">
            <div>
                <kendo-chart>
                    <kendo-chart-title text="Channel Z"></kendo-chart-title>
                    <kendo-chart-category-axis>
                        <kendo-chart-category-axis-item [categories]="categories">
                            <kendo-chart-category-axis-item-labels format="{0:HH:mm:ss}" step="1000" majorUnit="0.04"
                                position="end"></kendo-chart-category-axis-item-labels>
                        </kendo-chart-category-axis-item>
                    </kendo-chart-category-axis>
                    <kendo-chart-series>
                        <kendo-chart-series-item style="pointer-events: none;" [data]="zData" type="line"
                            [markers]="false"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </div>
            <div>
                <kendo-chart>
                    <kendo-chart-title text="Channel Y"></kendo-chart-title>
                    <kendo-chart-category-axis>
                        <kendo-chart-category-axis-item [categories]="categories">
                            <kendo-chart-category-axis-item-labels format="{0:HH:mm:ss}" step="1000"
                                position="end"></kendo-chart-category-axis-item-labels>
                        </kendo-chart-category-axis-item>
                    </kendo-chart-category-axis>
                    <kendo-chart-series>
                        <kendo-chart-series-item style="pointer-events: none;" [data]="yData" type="line"
                            [markers]="false"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </div>
            <div>
                <kendo-chart>
                    <kendo-chart-title text="Channel X"></kendo-chart-title>
                    <kendo-chart-category-axis>
                        <kendo-chart-category-axis-item [categories]="categories">
                            <kendo-chart-category-axis-item-labels format="{0:HH:mm:ss}" step="1000"
                                position="end"></kendo-chart-category-axis-item-labels>
                        </kendo-chart-category-axis-item>
                    </kendo-chart-category-axis>
                    <kendo-chart-series>
                        <kendo-chart-series-item style="pointer-events: none;" [data]="xData" type="line"
                            [markers]="false"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </div>
        </div>
    </div>
    <div class="row1">
        <div class="bar-chart-container">
            <kendo-chart>
                <kendo-chart-title text="Predicted Fault History"></kendo-chart-title>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item [categories]="faultCategories" [line]="{ visible: false }">
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>

                <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [min]="0" [majorUnit]="1">
                    </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>

                <kendo-chart-series>
                    <kendo-chart-series-item type="bar" [data]="faultData" color="#5687F2">
                    </kendo-chart-series-item>
                </kendo-chart-series>
            </kendo-chart>
        </div>
    </div>


</div>