.lift-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 85vh; 

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 10%;

        .date-picker {
            display: flex;
            gap: 1rem;

            kendo-datetimepicker {
                width: 250px; 
                height: 30px; 

                .k-input {
                    height: 20px; 
                    font-size: 12px; 
                }

                .k-select {
                    height: 30px; 
                }
            }
        }
    }

    .middle {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 1rem;
        flex: 0 0 60%;

        .trip-details,
        .charts-container {
            flex: 1;
            min-width: 0; // Allows elements to shrink properly
            overflow: auto;
        }

        .trip-details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .charts-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow: hidden;
            justify-content: flex-start;

            >div {
                flex: 1;
            }
        }
    }

    .bar-chart-container {
        flex: 0 0 30%;
    }

    .bar-chart-container kendo-chart {
        height: 80%;
      }
}


::ng-deep .k-grid-header .k-header {
    font-weight: bold;
}

::ng-deep .k-grid td {
    height: 20px; 
    line-height: 40px;
}