  .lift-details {
	  height: 90vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

	  .col1 {
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 85%;

        .k-label {
            margin-right :10px;
        }
        kendo-datetimepicker {
            width: 200px;
            height: 30px;
        
            .k-input {
              height: 30px; 
              font-size: 12px;
            }
        
            .k-select {
              height: 30px;
            }
            
          }

        .date-picker {
            background-color: cadetblue;
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            gap: 1rem;
        }

        .bar-chart-container {
            background-color: burlywood;
        }
      }
	  .trip-details {
          max-height: 85%;

          ::ng-deep .k-grid-header {
            background-color: #007bff; // Set your desired header color
            color: white;
          }
          
          ::ng-deep .k-grid-header .k-header {
            font-weight: bold;
          }
          
          ::ng-deep .k-grid td {
            height: 40px; // Set your desired row height
            line-height: 40px;
          }
	  }
	  .charts-container {
        background-color: blueviolet;
        max-height: 85%;
      }
	  
  }
