.trip {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px; // Ensure the trip box has the same border radius
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px;
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  
    kendo-avatar {
      margin-right: 15px;
    }
  
    .trip-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  
      .title {
        font-weight: bold;
        font-size: 1.1em;
      }
  
      .trip-date,
      .trip-num,
      .trip-time {
        color: #666666;
        font-size: 0.9em;
      }
    }
  }