<div>
    <div class="row">
        <div class="col-6">
            <section class="content">
            <kendo-chart style="pointer-events: none; width: 600px;" *ngIf="liftData && liftData.length > 0 && liftData[0].lbb_data" [transitions]="false" [categoryAxis]="categoryAxis">
                <kendo-chart-series>
                    <kendo-chart-series-item [style] = "normal" [markers]="{visible: false}" type="line" [data]="liftData[0].lbb_data" field="x" categoryField="timestamp">
                    </kendo-chart-series-item>
                </kendo-chart-series>
                </kendo-chart>
            </section>
        </div>
        <div class="col-6">
            <section class="content">
            <kendo-chart style="width: 600px; pointer-events: none;" *ngIf="liftData && liftData.length > 0 && liftData[0].lbb_data" [transitions]="false" [categoryAxis]="categoryAxis">
                <kendo-chart-series>
                    <kendo-chart-series-item [style] = "normal" [markers]="{visible: false}" type="line" [data]="liftData[0].lbb_data" field="y" categoryField="timestamp">
                    </kendo-chart-series-item>
                </kendo-chart-series>
                </kendo-chart>
            </section>
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <section class="content">
                <div>
                    <kendo-chart style="width: 600px; pointer-events: none;" *ngIf="liftData && liftData.length > 0 && liftData[0].lbb_data" [transitions]="false" [categoryAxis]="categoryAxis">
                        <kendo-chart-series>
                            <kendo-chart-series-item [style]="normal" [markers]="{visible: false}" type="line" [data]="liftData[0].lbb_data" field="z" categoryField="timestamp">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>
                </div>
            </section>
        </div>
    </div>
    <div>
                <kendo-listview
            [data]="liftData"
            [itemClass]="{ 'item-border': true }"
        >
    <ng-template kendoListViewItemTemplate let-dataItem="dataItem">
        {{ dataItem.productName }}
    </ng-template>
</kendo-listview>
    </div>
</div>
  
  