<section class="title-line">
    <div class="time-range-toggle">
        <button class="time-range-btn" (click)="toggleOptions()">{{selectedRange}}</button>
        <div class="time-range-options" [class.show]="showOptions">
            <div class="option" (click)="setTimeRange('24 Hours'); onTimeRangeChange()">24 Hours</div>
            <div class="option" (click)="setTimeRange('3 Months'); onTimeRangeChange()">3 Months</div>
            <div class="option" (click)="setTimeRange('1 Year'); onTimeRangeChange()">1 Year</div>
        </div>
    </div>
</section>
<div class="stats-container">
    <div class="chart-container">
        <kendo-chart>
            <kendo-chart-title text="Latest Faults"></kendo-chart-title>

            <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="serialNumbers">
                    <kendo-chart-category-axis-item-labels></kendo-chart-category-axis-item-labels>
                </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>

            <kendo-chart-value-axis>
                <kendo-chart-value-axis-item name="singleAxis"></kendo-chart-value-axis-item>
            </kendo-chart-value-axis>

            <kendo-chart-series>
                <kendo-chart-series-item type="column" [stack]="true" name="Fault 1" [data]="predictionData.prediction1"
                    axis="singleAxis" color="#ff9800">
                </kendo-chart-series-item>
                <kendo-chart-series-item type="column" [stack]="true" name="Fault 2" [data]="predictionData.prediction0"
                    axis="singleAxis" color="#f44336">
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
    <div class="faults">
        <div class="table-container">
            <kendo-grid 
                [data]="faults" 
                [height]="380"
                [scrollable]="'scrollable'">
                <kendo-grid-column field="data.serial_number" title="Lift Number" [width]="150"></kendo-grid-column>
                <kendo-grid-column 
                    field="data.start_time" 
                    title="Trip Date" 
                    [width]="200"
                    [format]="'dd/MM/yyyy hh:mm a'">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.data.start_time | date: 'dd/MM/yyyy hh:mm a' }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="data.trip_no" title="Trip Number" [width]="150"></kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>
