<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lift Health Dashboard</title>
    <link rel="stylesheet" href="dashboard-v2.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <main class="dashboard">
        <section class="lift-container">
            <div class="lift-card" *ngFor="let lift of lifts" (click)="navigateToLiftDetails(lift.name)">
                <h3>{{lift.name}}</h3>
                <img class="lift-icon" src="../../assets/img/downloaded_lift_icon.png" alt="Lift Icon">
            </div>
        </section>
        <app-period-statistics></app-period-statistics>
    </main>
</body>

</html>
